################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CodeDocument/.vs/CodeDocument
/CodeDocument/packages/DocX.1.7.0
/CodeDocument/obj/Debug
/CodeDocument/bin/Debug
